

body {
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

div	{
	display: inline-block;
	padding: 30px;
	background-image: url("img.jpg");
	background-size: cover;
	margin: 10% auto;
	border: 1px solid white;
	border-bottom: none;

}
section {
	display: block;
	width: 400px;
	color: white;
	font-weight: bold;
	margin-left: 50px;
}

ul {
	padding-left: 0px;
}
ul li {
	display: inline-block;
	border: 1px solid white;
	border-radius: 50px;
	padding: 10px;
	margin: 3px;
	color: white; 
}
.para {
	margin-left: 35px;
	margin-top: 5px;
}

.p1 {
	margin-bottom: 0px;
	margin-left: 0px;
}

h2 {
	margin-left: 20px;
}

section h2, span {
	color: #a9302d;
}

section span {
	padding: 10px;
}

li:first-child:hover  {
	background-color: #3b5998;
	cursor: pointer;
	border: none;

}

li:nth-child(2):hover {
	background-color:#2d7eae;
	cursor: pointer;
	border: none;

}

li:nth-child(3):hover {
	background-color: #436886;
	cursor: pointer;
	border: none;

}
li:nth-child(4):hover {
	background-color:#507fa4;
	cursor: pointer;
	border: none;

}

li:last-child:hover {
	background-color: #ba3422;
	cursor: pointer;
	border: none;
}

