body{
	font-family: roboto;
}

div{
	width: 30%;
	float: right;
	font-family: roboto;
	margin-right: 20%;
	margin-top: 0%;
	margin-bottom: 0%;



}

.d1{
	float: left;
	margin-top: -5%;



}

.t{
	font-size: 1em;
	color: white;
	background-color: red;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 2px;
}

h3{
	color: #333333;


}

.em{
	color: #424242;
	padding-top: 0px;

}


.p1{
	color: #bbbbbb;
}
.img2{
	height: 70px;
	width: 70px;
	border: 3px solid #bbbbbb;
	

}
.s3{
	color: #1c1c1c;
}
.s4{
	color: #7c7c7c;
	text-decoration: underline;

}

.b1{
	padding-left:  60px;
	padding-right: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #888888;
	border: none;	
}

.b2{
	padding-left:  40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	background-color: #ee522f;
	border: none;
}


.p2{margin-right: 175px;}

.p3{
	padding: 5px;
}
.p2,.p3,.p4{
	color: #5b5b5b;
	text-decoration: underline;
}
.p5{
	color: #232323;
	font-weight: bold;
}

.s6{
	color: #7c7c7c;
	text-decoration: underline; 
}

.s7,.s8,.s9{
	color: #7c7c7c;
}

.s8{
	margin-top: -20px;
}
.s9{
	margin-top: -20px;

}